body{
    background-color: black;
    color: limegreen;
}

input[type=text],input[type=text]:active,input[type=text]::after{
    background-color: #202123;
    color: limegreen;  
}

.container{
    padding: 1%;
    margin: 5%;
    border: 1px dashed limegreen;
}